

<footer id="footer" class="site-footer mt-5 py-5 bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-12 d-lg-none mb-5">
        {% if page.locale == "en" %}
          <a class="nav-link btn btn-secondary text-white" href="{{ site.github.url }}/el/{{ page_url_without_locale }}">Ελληνικά</a>
        {% else %}
          <a class="nav-link btn btn-secondary text-white" href="{{ site.github.url }}/en/{{ page_url_without_locale }}">English</a>
        {% endif %}
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="list-group mb-5">
          <a class="bg-dark text-white list-group-item list-group-item-action {% if page.url == "/" %}active{% endif %}" href="{{ site.github.url }}/">{{ site.data.i18n.[page.locale].home }}</a>
          <a class="bg-dark text-white list-group-item list-group-item-action {% if page.url == "/{{ page.locale }}/parents/" %}active{% endif %}" href="{{ site.github.url }}/{{ page.locale }}/parents">{{ site.data.i18n.[page.locale].parents }}</a>
          <a class="bg-dark text-white list-group-item list-group-item-action {% if page.url == "/{{ page.locale }}/students/" %}active{% endif %}" href="{{ site.github.url }}/{{ page.locale }}/students">{{ site.data.i18n.[page.locale].students }}</a>
          <a class="bg-dark text-white list-group-item list-group-item-action {% if page.url == "/{{ page.locale }}/news/" %}active{% endif %}" href="{{ site.github.url }}/{{ page.locale }}/news">{{ site.data.i18n.[page.locale].news }}</a>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="list-group mb-5">
          <a class="bg-dark text-white list-group-item list-group-item-action {% if page.url == "/{{ page.locale }}/courses/young-learners/" %}active{% endif %}" href="{{ site.github.url }}/{{ page.locale }}/courses/young-learners">{{ site.data.i18n.[page.locale].courses_for_young_leaners }}</a>
          <a class="bg-dark text-white list-group-item list-group-item-action {% if page.url == "/{{ page.locale }}/courses/teenagers/" %}active{% endif %}" href="{{ site.github.url }}/{{ page.locale }}/courses/teenagers">{{ site.data.i18n.[page.locale].courses_for_teenagers }}</a>
          <a class="bg-dark text-white list-group-item list-group-item-action {% if page.url == "/{{ page.locale }}/courses/adults/" %}active{% endif %}" href="{{ site.github.url }}/{{ page.locale }}/courses/adults">{{ site.data.i18n.[page.locale].courses_for_adults }}</a>
          <a class="bg-dark text-white list-group-item list-group-item-action {% if page.url == "/{{ page.locale }}/courses/exams/" %}active{% endif %}" href="{{ site.github.url }}/{{ page.locale }}/courses/exams">{{ site.data.i18n.[page.locale].exam_courses }}</a>
        </div>
        <a href="https://www.facebook.com/thistlelanguage/" target="_blank" class="mb-5 d-block">
          <img src="{{ site.github.url }}/assets/fb.png" class="img-fluid" />
        </a>
      </div>
      <div class="col-md-12 col-lg-5 ml-auto text-white">
        <h2>Thistle School of English</h2><br>
        {{ site.data.i18n.[page.locale].tel }}: 2221 400853<br>
        {{ site.data.i18n.[page.locale].address }}<br><br />
        <a class="btn btn-primary" target="_blank" href="https://www.google.gr/maps/place/Proastiou+8,+Chalkida+341+00/@38.4677346,23.5990351,17z/data=!3m1!4b1!4m5!3m4!1s0x14a117a36d81cad3:0x61c09f610e7ccf30!8m2!3d38.4677346!4d23.6012238">
          <i class="material-icons mr-2 align-middle">place</i><span class="align-middle">{{ site.data.i18n.[page.locale].view_map }}</span>
        </a><br><br />

        {{ site.data.i18n.[page.locale].school_director }}: {{ site.data.i18n.[page.locale].school_director_name }} (B.Eng University of Edinburgh, MSc Imperial College, PhD University of Cambridge)<br>
        Email: <a class="text-white" href="mailto:info@thistlelanguage.com" target="_blank">info@thistlelanguage.com</a><br /><br />

        {{ site.data.i18n.[page.locale].director_of_studies }}: Dianne Conner (MA English Literature, Trinity CertTESOL, Cambridge DELTA)<br>
        Email: <a class="text-white" href="mailto:dianne@thistlelanguage.com" target="_blank">dianne@thistlelanguage.com</a>
      </div>
    </div>
  </div>
</footer>
