

body {
  background: #F4F4F5;
}

.navbar-main {
  .navbar-brand {
    position: absolute;
    background: #FFF;
    top: 0;
    img {
      width: 120px;
    }
  }
}

.site-header img {
  height: 600px;
  object-fit: cover;
}

.site-footer {
}

.home-courses {
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }
}
