

@import "colors";
@import "bootstrap/bootstrap";

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Roboto+Condensed');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  background: #F4F4F5;
  font-family: 'Roboto', sans-serif;
}

.post-header {
  .post-title {
    font-family: 'Roboto Condensed', sans-serif;
    @extend .text-primary;
  }
}

.navbar-main {
  .navbar-brand {
    position: absolute;
    z-index: 1000;
    background: #FFF;
    top: 0;
    border-radius: 0 0 .25rem .25rem;
    img {
      width: 120px;
    }
  }
}

.site-header {
  position: relative;
  img {
    height: 600px;
    object-fit: cover;
  }
  &::after {
    content: "";
    display: block;
    height: 63px;
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 0;
    background: url("/assets/tag.png");
    opacity: .8;
  }
}

.site-footer {
}

.home-courses {
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }
}

strong {
  font-weight: 700;
}

h1,h2,h3,h4,h5,h6,
.card-title {
  font-family: 'Roboto Condensed', sans-serif;
}

.list-group-item.active {
  background-color: $purple !important;
}

.material-icons {
  &.medium {
    font-size: 32px;
  }
  &.large {
    font-size: 64px;
  }
  &.huge {
    font-size: 128px;
  }
  &.full {
    font-size: 100%;
  }
}

@include media-breakpoint-between(sm, md) {
  .card-deck .card {
    flex: 0 0 95%;
  }
}
