---
layout: default
---

<div class="container mt-5 home-courses">
  <div class="row">
    <div class="col">
      <div class="card">
        <img class="card-img-top" src="{{ site.github.url }}/assets/home-kids-thumb.png" alt="Young Learners">
        <div class="card-body">
          <h4 class="card-title">Young Learners</h4>
          <p class="card-text">English courses for young learners aged 4-11.</p>
          <a href="#" class="btn btn-dark">More</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img class="card-img-top" src="{{ site.github.url }}/assets/home-teenagers-thumb.png" alt="Teenagers">
        <div class="card-body">
          <h4 class="card-title">Teenagers</h4>
          <p class="card-text">English courses for teenagers aged 12-16.</p>
          <a href="#" class="btn btn-dark">More</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img class="card-img-top" src="{{ site.github.url }}/assets/home-adults-thumb.png" alt="Adults">
        <div class="card-body">
          <h4 class="card-title">Adults</h4>
          <p class="card-text">English courses for adults aged 16+.</p>
          <a href="#" class="btn btn-dark">More</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img class="card-img-top" src="{{ site.github.url }}/assets/home-exam-thumb.png" alt="Exam Courses">
        <div class="card-body">
          <h4 class="card-title">Exam Courses</h4>
          <p class="card-text">English courses for exams.</p>
          <a href="#" class="btn btn-dark">More</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5 home-about">
  About us
  Welcome to the Thistle School of English,  a modern, English language school
  in the centre of Halkida.  At Thistle we are dedicated to providing the best
  teaching and learning experience for our students. We offer all levels of
  general English for all ages ( including preparation for all Cambridge and
  Michigan exams) as well as academic English (preparation for IELTS).
</div>
