---
layout: default
---

<div class="container mt-5 home-courses">
  <div class="row">
    <div class="col">
      <div class="card">
        <img class="card-img-top" src="/assets/home-kids-thumb.png" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Young Learners</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-dark">More</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img class="card-img-top" src="/assets/home-teenagers-thumb.png" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Teenagers</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-dark">More</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img class="card-img-top" src="/assets/home-adults-thumb.png" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Adults</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-dark">More</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img class="card-img-top" src="/assets/exam.png" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Exam Courses</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-dark">More</a>
        </div>
      </div>
    </div>
  </div>
</div>
